.movie-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  border-bottom: 3.5px solid #c74649;
  border-top: 3.5px solid #c74649;
  position: relative;
  .movieTitle {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .favorite-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .favWatch {
    display: flex;
    flex-direction: row;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: $light;
  }

  img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;

    strong {
      color: darkmagenta;
    }
  }

  button {
    margin: 20px auto;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: purple;
    }
  }
}
