// Header
header {
  padding: $section3-padding;
  display: grid;
  grid-template-rows: repeat(3fr, 1fr);

  h1 {
    @include flatten;
  }
  .user {
    text-align: right;
  }

  a {
    color: $light;
  }
  #header-menu-logo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    #menu {
      display: flex;
      flex-direction: row;
      gap: 6rem;
    }
  }

  img {
    width: 15%;
    object-fit: cover;
  }
}

/* Style for all navigation links */
#menu .nav-link {
  text-decoration: none;
}

/* Style for the active link */
#menu .active {
  color: green;
  font-weight: bold;
}
