// Header
header {
  padding: $section-padding;
  display: grid;
  grid-template-rows: repeat(3fr, 1fr);

  align-items: center;
  min-height: 84px;
  h1 {
    @include flatten;
  }
  .user {
    text-align: right;
  }

  p {
    margin-bottom: 8px;
  }

  a {
    color: $light;
  }
  #header-menu-logo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    #menu {
      display: flex;
      flex-direction: row;
      gap: 7rem;
    }
  }
}
