// Type

body {
  font-family: $bodyFont;
  color: $light;
}

h1,
h2,
h3,
h4 {
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

nav a {
  font-family: $headingFontLight;
}

h1,
h2,
h3,
h4 {
  margin-top: 1rem;
}

p {
  line-height: 0.8;
  color: rgb(235, 221, 202);
}
