.search-container {
  display: flex;
  align-items: center;

  border: none;
  outline: none;
  background: transparent;
  padding: $section2-padding;
  font-size: 16px;
  border-bottom: 1px solid darken($grey, 20);

  .search-icon {
    color: $light;
    margin-right: 8px;
  }
  input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    color: $light;
    font-size: 16px;
  }
}
